html{
    background-color: #3C2A21;
}
body{
    background-color: #D5CEA3;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0.5;
}
h1{
    font-size: 300%;
    text-align: center;
    font-family:serif;
}
label{
    color: black;
    font-size: 260%;
    margin-left: 2%;
}
input[type=text]{
  color: black;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: large;
  margin-left: 2%;
}
select{
    padding: 10px 20px;
    margin-left: 2%;
    font-size: large;
}
input[type=radio]{
    padding: 10px 20px;
    margin-left: 2%;
    font-size: large;
  }
  button{
    margin-left: 45%;
    font-size: 250%;
    font-family: serif;
  }
  button:hover{
    background-color:#3C2A21;
  }
